body {
		background-color:white;
        	
	}

		
#title {
		text-align: center;
	    color: orange;
		font-size: 4rem;     
        
	}

img {
        display:inline-block;
        height: 30rem;
        object-fit: cover;
        margin-left: 36rem ;
        padding: auto;
        border-radius: 10px;
        		
	}
		
section {
        margin: 2rem 28rem;
		font-size: 17px;
		font-family: 'Roboto Condensed',sans-serif;
		color: black;
        text-align: center;
            
	}

		
#tribute-data {
		background-color:rgb(245, 193, 90);
		box-shadow: 20px 20px 20px rgba(68, 67, 66, 0.738);
		font-family: 'Playfair Display',sans-serif;
		padding: 25px 25px;
		margin: 20%;
		margin-top: 50px;
        border-radius: 20px;
        
	}

h1{
		font-size: 35px;
		color: white;
		text-align: center;
			
    }

h2,h3 {
        color: white;
        font-size:25px;
        margin-bottom: 0;
    }